PORT=9080
MONGO_URI=mongodb+srv://7020976174pruthvi_db_user:hKv7Sb7zkhRl7CQS@cluster0.oflozec.mongodb.net/marriage-bureau?appName=Cluster0
JWT_SECRET=marriage-bureau-dev-secret-change-in-production-9f3a2c8e1b7d4
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=dvslcvlda
CLOUDINARY_API_KEY=797675557727273
CLOUDINARY_API_SECRET=YbxNCVoQ4B2jl9IMdYd933t0lVI